#back {
    position: absolute;
    width: 100%;
    height: 250px;
    opacity: 0.5;
    background-position: 35% 60%;
    background-size: cover;
    margin-top: 5%;
}
#opaque {
    position: relative;
    opacity: 1;
}
#entree {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 0px;
    color: white;
    text-align: center;
}
.slogan3 {
    font-size: 60px;
    margin-right: 10%;
    margin-left: 10%;
    justify-content: space-around;  
}

.telephone {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10%;
    margin-top: 19%;
}

.contact {
    display: flex;
    justify-content: center;
    height: 90%;
    width: 75%;
}

.aya {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:aliceblue;
    font-size: 150%;
    margin-right: 5%;
    width: 20%;
    height: 30%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 3%;
    background: #0c0b26;
}

.logo {
    height: 40%;
    width: 40%;
    margin-bottom: 15%;
    margin-top: 20%;
}

.text {
    color:white;
    font-size: 55%;
    text-align: center;
}

form input {
    color: white;
    display: flex;
    flex-direction: column;
    background-color: #282645;
    border-radius: 3px;
    border:none;
    margin-left: 10%; 
}

.nom {
    padding-bottom: 0.75%;
    padding-top: 0.75%;
    padding-left: 1%;
    padding-right: 2%;
}

.mail {
    display: flex;
    margin-left: 24.75%;
    margin-top: -2.63%;
    margin-bottom: 1%;
    padding-bottom: 0.75%;
    padding-top: 0.75%;
    padding-left: 1%;
    padding-right: 2%;
}

.sujet {
    display: flex;
    margin-bottom:1%;
    padding-bottom: 0.75%;
    padding-top: 0.75%;
    padding-left: 1%;
    padding-right: 16.70%;
}

.msg {
    display: flex;
    margin-bottom: 1%;
    padding-bottom: 7%;
    padding-top: 1.25%;
    padding-left: 1%;
    padding-right: 16.70%;
}

form {
    margin-top: -8%;
    margin-bottom: 80px;
    margin-right: 92px;
    margin-left: 4%;
    
}

.bouton {
    margin-left: 10%;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: orange;
    border-style: none;
    margin-bottom: 2%;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.bouton:hover {
    background-color: white;
    color: orange;
    -webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.inscription {
    margin-left: 40%;
}

.footer{
    background-color: #0e0b26;
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: space-evenly;
}
.box11{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 150px;
    margin-top: 100px;
}
.fa-brands{
    color: #e99122;
    font-size: 25px;
    margin-right: 4px;
    margin-top: 25px;

}
.box22{
    width: 40%;
    margin-left: 90px;
    margin-top: 100px;

}
.white{
    color: white;
    font-family: 'muli-semibold', sans-serif;
}

.orange{
    color: #e99122;
}
.gris{
    color: #6a6c80;
    font-size: 0.8em;
    margin-top: 20px;

}

.bullet a:link {
    color: #6a6c80;
    background-color: transparent;
    text-decoration: none;
    font-size: 0.8em;

  }

#bullet li::marker{

    color: #e99122;
}
.bullet{
    margin-top: 20px;
    list-style-type: square;
}
.copy{
    color: #6a6c80;
    font-size: 0.75em;
    margin-top: auto;
}
.bouton2{
    height: 7%;
    width: 4%;
    background: rgba(255, 166, 0, 0.425);
    border-radius: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 2%;
    top: 220%; 
    cursor: pointer; 
}
.fleche{
    color: rgba(255, 255, 255, 0.463);
    width: -1%;
}

.fa-brands{
    color: #e99122;
    font-size: 25px;
    margin-right: 4px;
    margin-top: 25px;

}
