

.telephone {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10%;
}

.contact {
    display: flex;
    justify-content: center;
    height: 90%;
    width: 75%;
}

.aya {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:aliceblue;
    font-size: 150%;
    margin-right: 5%;
    width: 20%;
    height: 30%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 3%;
    background: #0c0b26;
}

.logo {
    height: 40%;
    width: 40%;
    margin-bottom: 15%;
    margin-top: 20%;
}

.text {
    color:white;
    font-size: 55%;
    text-align: center;
}

form input {
    color: white;
    display: flex;
    flex-direction: column;
    background-color: #282645;
    border-radius: 3px;
    border:none;
    margin-left: 10%; 
}

.nom {
    padding-bottom: 0.75%;
    padding-top: 0.75%;
    padding-left: 1%;
    padding-right: 2%;
}

.mail {
    display: flex;
    margin-left: 24.75%;
    margin-top: -2.63%;
    margin-bottom: 1%;
    padding-bottom: 0.75%;
    padding-top: 0.75%;
    padding-left: 1%;
    padding-right: 2%;
}

.sujet {
    display: flex;
    margin-bottom:1%;
    padding-bottom: 0.75%;
    padding-top: 0.75%;
    padding-left: 1%;
    padding-right: 16.70%;
}

.msg {
    display: flex;
    margin-bottom: 1%;
    padding-bottom: 7%;
    padding-top: 1.25%;
    padding-left: 1%;
    padding-right: 16.70%;
}

form {
    margin-top: -8%;
    margin-bottom: 80px;
    margin-right: 92px;
    margin-left: 4%;
    
}

button {
    margin-left: 10%;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: orange;
    border-style: none;
    margin-bottom: 2%;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

button:hover {
    background-color: white;
    color: orange;
    -webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.inscription {
    margin-left: 40%;
}

