

.mailInput{
    background-color: #282645;
    border: none;
    color: #6a6c80;
    border-radius: 5px;
    width: 375px;
    height: 40px;
    margin-top: 10px;
    padding-left: 22px;
}
.login{
    background-color: #0f0e2e;
    width: 100%;
    height: 460px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    margin-top: -5%;
}
.logs{
    display: flex;
    flex-direction:column;
}

.btnConnect{
    cursor: pointer;
    background-color: #e99122;
    color: white;
    border: none;
    border-radius: 5px;
    width: 110px;
    height: 40px;
    align-content: flex-start;
    margin-top: 15px;
    margin-left: -0.1%;
}

button{
    margin-left: 36%;
    border-radius: 3%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.75%;
    padding-bottom: 0.75%;
    color: white;
    background-color: orange;
    border-style: none;
    margin-bottom: 2%;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    
}
button:hover{
    background-color: white;
    color: orange;
    -webkit-transform: scale(1.2);
	transform: scale(1.2);
}

