body {
    background-color:#11102f;
    height: auto;
    width: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.fond {
    justify-content: space-around;
}
#fond {
    width: 100%;
    height: auto;
    justify-content: space-around; 
}
.slogan3 {
    font-size: 60px;
    margin-right: 10%;
    margin-left: 10%;
    justify-content: space-around;  
}
#back {
    position: absolute;
    width: 100%;
    height: 250px;
    opacity: 0.5;
    background-position: 35% 60%;
    background-size: cover;
    margin-top: 2%;
}
#opaque {
    position: relative;
    opacity: 1;
}
#entree {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 60px;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    display: flex;
    margin-left: 42%;
    margin-top: 3%;
    color: rgb(251, 251, 251);
    font-size: 40px;    
}
p {
    display: flex;
    color : white;
    margin-left: 0%;
}
#boxe {
    display: flex;
    justify-content: space-between;
}
#boxe1 {
    margin-left: 70px;
    opacity: 1;
    margin-top: 10px;
}
#boxe2 {
    display: flex;
    float: right;
    justify-content:white;
    align-items: center;
    margin-right: 20px;
    justify-content: space-between;
    margin-top: 5px;
}
#boxe2 li {
    list-style-type: none;
}
#boxe2 a {
    display:block;                
    min-width: 90px;          
    
    margin: 2px;             
    padding: 0.4rem 0;            
    text-align: center;         
    font-size: small;
    color: #fff;                
    text-decoration: none;           
}
#boxe2 a:hover {
    opacity: 0.76;
    color: orange;
}
.deroule {
    float: left;
    width: 25%;
    margin: 0 auto;
    margin-top: 4%;
}
.deroule ul {
    list-style-type: none;
}
.deroule ul li {
    float: left;
    width: 25%;
    text-align: center;
}
.deroule ul::after {
    content: "";
    display: table;
    clear: both;
}
.deroule .menu {
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}
.menu:hover { 
    cursor: pointer;
    color: #e99122;
    border-bottom: 2px solid gold;
}
.sous {
    display: none;
    box-shadow: 0px 1px 2px #11102f;
    background-color: #11102f;
}
.deroule > ul li:hover .sous {
    display: flex;
    flex-direction: column;
}
.sous li {
    float: none;
    width: 100%;
    text-align: center;
}
.sous .menu {
    padding: 10px;
    border-bottom: none;
}
.sous .menu:hover {
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > .menu::after {
    content: ▼;
    font-size: 12px;
}
.sous {
    display: none;
    box-shadow: 0px 1px 2px #11102f;
    position: absolute;
    background-color: #11102f;
    width: 100%;
    z-index: 1000%;
}
.deroule ul li {
    float: left;
    width: 100%;
    text-align: left;
    position: relative;
}
.footer {
    background-color: #0e0b26;
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30%;
}
.box11 {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 150px;
    margin-top: 100px;
}
.fa-brands {
    color: #e99122;
    font-size: 25px;
    margin-right: 4px;
    margin-top: 25px;
}
.box22 {
    width: 40%;
    margin-left: 90px;
    margin-top: 100px;
}
.white {
    color: white;
    font-family: 'muli-semibold', sans-serif;
}
.orange {
    color: #e99122;
}
.gris {
    color: #6a6c80;
    font-size: 0.8em;
    margin-top: 20px;
}
.bullet a:link {
    color: #6a6c80;
    background-color: transparent;
    text-decoration: none;
    font-size: 0.8em;
}
#bullet li::marker {
    color: #e99122;
}
.bullet {
    margin-top: 20px;
    list-style-type: square;
}
.copy {
    color: #6a6c80;
    font-size: 0.75em;
}
.bouton2{
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: orange;
    bottom: 40px;
    right: 50px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
    opacity: 0.76;
    
}
.fleche{
    color: rgba(255, 255, 255, 0.463);
    width: -1%;
}

.fa-brands{
    color: #e99122;
    font-size: 25px;
    margin-right: 4px;
    margin-top: 25px;

}