
body {
    background-color:#11102f;
    height: auto;
    width: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    justify-content: space-around;
}

#header {
    width: 100%;
    height: auto;
    justify-content: space-around;
    margin-bottom: 10%; 
}



#opaque {
    position: relative;
    opacity: 1;
}

#entree {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    text-align: center;
}

h1 {
    display: flex;
    margin-left: 20%;
    margin-top: 7%;
    color: rgb(251, 251, 251);
    font-size: 55px;  
}

p {
    display: flex;
    color : white;
}

#boxe {
    display: flex;
    justify-content: space-around;
}

#boxe1 {
    display: flex;
    margin-left: 70px;
    opacity: 1;
    margin-top: 10px;
}

#boxe2 {
    display: flex;
    float: right;
    justify-content:white;
    align-items: center;
    margin-right: 20px;
    justify-content: space-around;
    margin-top: 5px;
    margin-left: 50%;
}

#boxe2 li {
    list-style-type: none;
}

#boxe2 a {
    display:block;                
    min-width: 90px;          
    
    margin: 2px;             
    padding: 0.4rem 0;            
    text-align: center;         
    font-size: small;
    color: #fff;                
    text-decoration: none;          
}

#boxe2 a:hover {
    opacity: 0.76;
    color: orange;
}
.fond {
    justify-content: space-around;
}
.fond {
    width: 100%;
    height: auto;
    justify-content: space-around;
}
#back {
    position: absolute;
    width: 100%;
    height: 250px;
    opacity: 0.5;
    background-position: 35% 60%;
    background-size: cover;
}
#opaque {
    position: relative;
    opacity: 1;
}
#entree {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    display: flex;
    margin-left: 26%;
    margin-top: 3%;
    color: rgb(251, 251, 251);
    font-size: 40px;   
}
#boxe {
    display: flex;
    justify-content: space-between;
}
.slogan2 {
    color: white;
}
.slogan3 {
    font-size: 60px;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
    justify-content: space-around;  
}
.nmail {
    background-color: #0f0e2e;
    width: 100%;
    height: 460px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.mail {
    display: flex;
    flex-direction:column;
}
.mailInput {
    background-color: #282645;
    border: none;
    color: #6a6c80;
    border-radius: 5px;
    width: 375px;
    height: 40px;
    margin-top: 10px;
    padding-left: 22px;
}
.btnConnect {
    cursor: pointer;
    background-color: #e99122;
    color: white;
    border: none;
    border-radius: 5px;
    width: 110px;
    height: 40px;
    align-content: flex-start;
    margin-top: 15px;
    margin-left: -0.1%;
}
.footer{
    background-color: #0e0b26;
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 0%;
  }
.box11{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 150px;
    margin-top: 100px;
}
.fa-brands{
    color: #e99122;
    font-size: 25px;
    margin-right: 4px;
    margin-top: 25px;

}
.box22{
    width: 40%;
    margin-left: 90px;
    margin-top: 100px;

}
.white{
    color: white;
    font-family: 'muli-semibold', sans-serif;
}

.orange{
    color: #e99122;
}
.gris{
    color: #6a6c80;
    font-size: 0.8em;
    margin-top: 20px;

}

.bullet a:link {
    color: #6a6c80;
    background-color: transparent;
    text-decoration: none;
    font-size: 0.8em;

  }

#bullet li::marker{

    color: #e99122;
}
.bullet{
    margin-top: 20px;
    list-style-type: square;
}
.copy{
    color: #6a6c80;
    font-size: 0.75em;
}
.bouton2{
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: orange;
    bottom: 40px;
    right: 50px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
    opacity: 0.76;
    
}
.fleche{
    color: rgba(255, 255, 255, 0.463);
    width: -1%;
}

.fa-brands{
    color: #e99122;
    font-size: 25px;
    margin-right: 4px;
    margin-top: 25px;

}