body {
    background-color:#11102f;
    height: auto;
    width: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    justify-content: space-around;
}

#header {
    width: 100%;
    height: auto;
    justify-content: space-around;
    margin-bottom: 10%; 
}
#back {
    position: absolute;
    width: 100%;
    height: 250px;
    opacity: 0.5;
    background-position: 35% 60%;
    background-size: cover;
    margin-top: 5%;

}
#opaque {
    position: relative;
    opacity: 1;
}
#entree {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 2%;
    color: white;
    text-align: center;
}

.head h1 {
    display: flex;
    color: orange;
    font-size: 40px;
    margin-left: -40%;
    text-align: center;
}
.slogan1{
    color:white;
}

p {
    display: flex;
    color : white;
    margin-left: 0%;
}

#boxe {
    display: flex;
    justify-content: space-around;
}

#boxe1 {
    display: flex;
    margin-left: 70px;
    opacity: 1;
    margin-top: 10px;
}

#boxe2 {
    display: flex;
    float: right;
    justify-content:white;
    align-items: center;
    margin-right: 20px;
    justify-content: space-around;
    margin-top: 5px;
    margin-left: 50%;
}

#boxe2 li {
    list-style-type: none;
}

#boxe2 a {
    display:block;                
    min-width: 90px;          
    
    margin: 2px;             
    padding: 0.4rem 0;            
    text-align: center;         
    font-size: small;
    color: #fff;                
    text-decoration: none;          
}

#boxe2 a:hover {
    opacity: 0.76;
    color: orange;
}
a {
    display: inline-block;
    color: #333;
    text-decoration: none;
  }
  .blog {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  
  .container {
    width: 800px;
    height: auto;
    border-radius: 10px;
    box-shadow: rgb(255, 255, 255) 0px 5px 15px;
    position: absolute;
    top: 60%;
    left: 48%;
    transform: translate(-50%, -50%);
    z-index: 1;
    overflow: hidden;
    margin-top: -2%;
    
  }

  .leaderboard {
    background: linear-gradient(white);
  }
  
  .leaderboard .head {
    display: flex;
    padding: 2% 2%;
    color: snow;
    font-size: 200%;
    margin-left: 45%;
    flex-direction: column;
    justify-content: center;
    
  }
  
  .tab{
    
    margin-left: 5%;
    margin-top: 2%;
    
  }
  .leaderboard .body {
    color: black;
  }
  .leaderboard ol {
    counter-reset: number;
  }
  .leaderboard li {
    padding: 16px;
    display: flex;
    text-align: center;
  }
  .leaderboard li mark {
    flex-grow: 1;
    color: black;
    background-color: transparent;
  }
  .leaderboard .lol:before {
    counter-increment: number; 
    content: counter(number) "."; 
    margin-right: 4px;
  }
  .leaderboard li:nth-child(1) {
    display: flex;
    text-align: left;
    background: rgb(156, 149, 149);
    margin-right: 5%;
    border-radius: 10px;
    margin-top: -1%;
  }
  .leaderboard li:nth-child(2) {
    display: flex;
    text-align: left;
    background: rgb(156, 149, 149);
    margin-right: 5%;
    border-radius: 10px;
    margin-top: 2%;
  }
  .leaderboard li:nth-child(3) {
    display: flex;
    text-align: left;
    background: rgb(156, 149, 149);
    margin-right: 5%;
    border-radius: 10px;
    margin-top: 2%;
  }
  .leaderboard li:nth-child(4) {
    display: flex;
    text-align: left;
    background: rgb(156, 149, 149);
    margin-right: 5%;
    border-radius: 10px;
    margin-top: 2%;
  }
  .leaderboard li:nth-child(5) {
    display: flex;
    text-align: left;
    background: rgb(156, 149, 149);
    margin-right: 5%;
    margin-bottom: 8%;
    border-radius: 10px;
    margin-top: 2%;
  }







  .footer{
    background-color: #0e0b26;
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 60%;
}
.box11{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 150px;
    margin-top: 100px;
}
.fa-brands{
    color: #e99122;
    font-size: 25px;
    margin-right: 4px;
    margin-top: 25px;

}
.box22{
    width: 40%;
    margin-left: 90px;
    margin-top: 100px;

}
.white{
    color: white;
    font-family: 'muli-semibold', sans-serif;
}

.orange{
    color: #e99122;
}
.gris{
    color: #6a6c80;
    font-size: 0.8em;
    margin-top: 20px;

}

.bullet a:link {
    color: #6a6c80;
    background-color: transparent;
    text-decoration: none;
    font-size: 0.8em;

  }

#bullet li::marker{

    color: #e99122;
}
.bullet{
    margin-top: 20px;
    list-style-type: square;
}
.copy{
    color: #6a6c80;
    font-size: 0.75em;
}
.bouton2{
    height: 7%;
    width: 4%;
    background: rgba(255, 166, 0, 0.425);
    border-radius: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 2%;
    top: 153%; 
    cursor: pointer; 
}
.fleche{
    color: rgba(255, 255, 255, 0.463);
    width: -1%;
}

.fa-brands{
    color: #e99122;
    font-size: 25px;
    margin-right: 4px;
    margin-top: 25px;
}
