body{
    background-color:#11102f;
    height: auto;
    width: auto;
}

#header {
    width: 1425px;
    height: 600px;
    
}

#back {
    position: absolute;
    width: 1425px;
    height: 600px;
    opacity: 0.5;
    background-position: 35% 60%;
    background-size: cover;

}

#opaque {
    position: relative;
    opacity: 1;
}

#entree {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 70px;
    color: white;
    text-align: center;
}



h1 {
    display: flex;
    margin-left: 20%;
    margin-top: 7%;
    color: rgb(251, 251, 251);
    font-size: 55px;
    
    
}
p {
    display: flex;
    color : white;



}
#boxe {
    display: flex;
    justify-content: space-between;
}

#boxe1 {
    margin-left: 70px;
    opacity: 1;
    margin-top: 10px;
}

#boxe2 {
    display: flex;
    float: right;
    justify-content:white;
    align-items: center;
    margin-right: 20px;
    justify-content: space-between;
    margin-top: 5px;

}

#boxe2 li {
    list-style-type: none;

}

#boxe2 a {
    display:block;                
    min-width: 90px;          
    
    margin: 2px;             
    padding: 0.4rem 0;            
    text-align: center;         
    font-size: small;
    color: #fff;                
    text-decoration: none;        
    
}
#boxe2 a:hover{
    opacity: 0.76;
    color: orange;
}

.slogan1 {
    font-size: 60px;
    margin-right: 400px;
    margin-left: 400px;
    
}
.slogan2 {
    font-size: smaller;
    font-weight: 80;
    margin-right: 8px;
    margin-top: 0px;
}

button{
    display: flex;
    border-radius: 3px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
    background-color: orange;
    border-style: none;
    margin-top: 25px;
    
}

button:hover{
    background-color: white;
    color: orange;
}
.LoremIpsum {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.picture1 {
    display: flex;
    color: white;
    flex-direction: column;
    width: 700px;
    height: 320px;
    margin-top: 8%;
}
.picture2 {
    display: flex;
    color: white;
    flex-direction: column;
    width: 327px;
    height: 100px;
    margin-top: 8%;
}
.picture3 {
    display: flex;
    color: white;
    flex-direction: column;
    width: 327px;
    height: 100px;
    margin-top: 8%;
}
#grostexte {
    float: left;
    color: #8495c2;
}

#chiffre {
    float: left;
    color: #3724a0;
    font-size: 30px;
}

#Lorem {
    display: block;
    display: flex;
    float: left;
    padding: 100px;
    padding: 150px;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none ;
    min-width: 80px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}


#Texte { 
 float: left;
 font-size: 16px;
 color: white;
 
}
#tkt {
    color: #100e2e;
}
.div {
    background-color: rgb(255, 255, 255);
    width: 120px;
    height: 120px;
  }
  .conteneur {
    width: 620px;
    height: 110px;
    margin: 0;
    padding: 10px;
    border: 6px solid white;
  }
  .boite {
    width: 290px;
    height: 100px;
    margin: 0;
    padding: 4px 6px;
    font: 28px "verdana";
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .boiteGauche {
    float: left;
    background-color: rgb(60, 17, 186);
    color: hsl(0deg, 100%, 100%);
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 17px;
    block-size: 130px;
  }
  .boiteDroite {
    float: right;
    background-color: rgb(197, 10, 138);
    color: hsl(0deg, 100%, 100%);
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 24px;
    block-size: 130px;
  }
  .boiteGauche2 {
    float: left;
    background-color: rgb(12, 144, 56);
    color: hsl(0deg, 100%, 100%);
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 17px;
    block-size: 130px;
  }

  .boiteDroite2 {
    float: right;
    background-color: rgb(226, 137, 13);
    color: hsl(0deg, 100%, 100%);
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 24px;
    block-size: 130px;
  }
.flex{
    display: flex;
    flex-direction:column;
}
.flex2{
    display: flex;
    flex-direction: row;
    margin-top: 35%;
    margin-left: 13%;
    margin-bottom: 10%;
    
}

.name {
    margin-left: 40%;
    color: white;
}

#crew {
    font-size: 40px;
    
}

#cheval {
    margin-left:6%;
    margin-bottom: 5%;
    font-size: smaller;
    color: rgb(255, 255, 255);
}

#equipe {
    display: flex;
    justify-content: space-around;
    margin-left: 5%;
}

.membre {
    display: flex;
    background-color: #0c0b26;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 7%;
    height: 80%;
    width: 80%;
    margin-right: 8%;
    justify-content: center;
    margin-bottom: 15%;
    flex-direction: column;
}

.imagee {
    display: flex;
    clip-path: ellipse(50% 40%);
    justify-content: center;
    height: 155%;
    width: 155%;

    
}

.prenom {
    display: flex;
    margin-top: 250%;
    color: white;
    justify-content: center;

}





footer{
    display: flex;
    background-color: #0c0b26;
    border-style: inset;
    border-width: 5px;
    border-radius: 4px;
    border-color: #020209;
    height: 50%;
    width: 100%;
}
.box1{
    padding-right: 35%;
    display: flex;
    flex-direction: column;
    
}
.box2{
    padding-top: 10px;
}
#footg{
    display: flex;
    flex-direction: row;
    padding-top: 10px;

}

.box1 h3{
    color: white;
    font-size: 130%;
}

#footg h3{
    color: white;
    font-size: 133%;
    
}
#footg p{
    margin-left: 5px;
    margin-top: 22px;
    color: whitesmoke;
}
h5{
    color :orange;
    padding-bottom: 2px;
    font-size: 14px;
    
}
.box2 h3 {
    margin-left: 20px;
    color: white;
    font-size: 130%;
}
#foot{
    padding-right: auto;
}
#foot li::marker{
    color : orange;
}
.foot{
    
    list-style-type: square;
}
li {
    margin-top: 25px;
    
}

li a {
    color: white;
}
.logo{
    flex-direction: row;
    order : -1;
    padding-left: 5px;
    max-width: fit-content;

    
    
}
.logo a img {
    width: 30px;
    height: auto;

}

.test{
    display: flex;
    flex-direction: row;
}